
body{margin: 0 0;padding: 0 0}
:root{
    --font-one: "Raleway", serif;

    /* Brown Color Palet  */
    --color-brownL: 243 238 236;
    --color-brownLH: 237 229 226;
    --color-brownLA: 219 202 195;
    --color-brownN: 138 84 60;
    --color-brownNH: 124 76 54;
    --color-brownNA: 110 67 48;
    --color-brownD: 104 63 45;
    --color-brownDH: 83 50 36;
    --color-brownDA: 62 38 27;
    --color-brown: 48 29 21;
    /* Brown Color Palet End  */
    /* Gray Color Palet  */
    --color-grayL: 236 236 236;
    --color-grayLH: 237 229 226;
    --color-grayLA: 195 195 195;
    --color-grayN: 61 61 61;
    --color-grayNH: 55 55 55;
    --color-grayNA: 49 49 49;
    --color-grayD: 46 46 46;
    --color-grayDH: 37 37 37;
    --color-grayDA: 27 27 27;
    --color-gray: 21 21 21;
    /* Gray Color Palet End  */
    /* White Color Palet  */
    --color-whiteL: 252 252 252;
    --color-whiteLH: 251 251 251;
    --color-whiteLA: 246 246 246;
    --color-whiteN: 225 225 225;
    --color-whiteNH: 203 203 203;
    --color-whiteNA: 180 180 180;
    --color-whiteD: 169 169 169;
    --color-whiteDH: 135 135 135;
    --color-whiteDA: 101 101 101;
    --color-white: 79 79 79;
    --color-whiteG: 255 255 255;
    --color-blackG: 0 0 0;
    /* White Color Palet End  */
    --transition: 0.3s all ease-in-out;
    --box-shadow: 0 0px 10px -2px;
}
.custom-container{max-width: 1240px;display: block;padding: 0 15px;margin: auto;}
a{outline: none !important; text-decoration: none;}
/* page Navigaton */
/* Transparent */
.main-header.fixed-header,
header.main-header.transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: none;
}
.main-header.fixed-header {
    position: fixed !important;
    background-color: rgb(var(--color-whiteG));
}
.main-header.fixed-header .headeNote > svg,
.main-header.fixed-header.transparent .headeNote > svg,
.main-header.fixed-header.transparent .sublist li.dropdown-list:after,.main-header.fixed-header.transparent li.dropdown-list:after,
.main-header.fixed-header .sublist li.dropdown-list:after,.main-header.transparent li.dropdown-list:after,
.main-header.fixed-header.transparent .menubar > li > a,
.main-header.fixed-header .menubar>li>a{
    color: rgb(var(--color-blackG)) !important;
}
.main-header.transparent .headeNote > svg,
.main-header.transparent .sublist li.dropdown-list:after,.main-header.transparent li.dropdown-list:after,
.main-header.transparent .menubar > li > a{
    color: rgb(var(--color-whiteG)) !important;
}
/* Transparent End */
/* breadcrumbs */
ul.breadcrumbs {
    margin: 1rem 0;
    padding: 0 0;
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
ul.breadcrumbs li {
    position: relative;
    display: inline-block;
}
ul.breadcrumbs li a {
    color: rgb(var(--color-whiteD));
}
ul.breadcrumbs li a:active {
    color: rgb(var(--color-whiteDA));
}
ul.breadcrumbs li:last-child a {color: rgb(var(--color-whiteDA));}
ul.breadcrumbs li a:hover {
    color: rgb(var(--color-whiteDH));
}
.breadcrumbs li:not(.breadcrumbs li:last-child)::after {
    content: '\f105';
    font: 100 12px/normal 'FontAwesome';
    color: rgb(var(--color-grayD));
    margin: 0 5px;
}
/* breadcrumbs End */
#sideBlogList {
    position: sticky;
    top: 0;
}
#post-list-results{min-height: 90vh;}
.pageItem_right, .pageContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--color-grayN) / 25%);
    grid-gap: 10px; */
}
.pageItem_right {
    display: flex;
    border-bottom: 1px solid rgb(var(--color-grayN) / 25%);
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-top: 1rem;
}
.pageItem_right > p:first-child {
    padding-right: 10px;
}
.pageItem_right p > span {
    padding-right: 10px;
}
.pageItem p{
    font: 500 16px/24px var(--font-one);
    color: rgb(var(--color-whiteDH));
}
.pageItem h3{
    font: 700 32px/40px var(--font-one);
    color: rgb(var(--color-grayD));
}
.blogTopNavigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.blogTopNavigation > a{
    color: rgb(var(--color-grayD));
    font: 500 16px/24px var(--font-one);
    text-decoration: none;
}
/* page Navigaton */
header.main-header.transparentClass {
    /* background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; */
}
.comming-soon ~ .comingDoon .logo img {
    max-width: 60px;
    filter: brightness(100);
}
.logo img {
    filter: none;
    max-width: 60px;
    width: 100%;
}
.main-header.comming-soon{display: none;}
.main-header{
    box-shadow: var(--box-shadow) rgb(var(--color-whiteD) / 25%);
}
.header-action {
    display: flex;
    align-items: center;
    gap: 20px;
}
.headeNote {font-size: 20px;cursor: pointer;}
label.defaultBtnClass,
button.defaultBtnClass,
a.defaultBtnClass {
    padding: 0 24px;
    text-decoration: none;
    color: rgb(var(--color-whiteG));
    background-color: rgb(var(--color-brownN));
    display: inline-block;
    font: 400 16px/40px var(--font-one);
    border-radius: 4px;
    transition: var(--transition);
    border-color: rgb(var(--color-brownN));
    box-shadow: none;
    border: 1px solid;
    cursor: pointer;
}
button.trBtnClass:hover,a.trBtnClass:hover,label.trBtnClass:hover,
button.defaultBtnClass:hover,
a.defaultBtnClass:hover{
    background-color: rgb(var(--color-brownNH));
    border-color: rgb(var(--color-brownNH));
}
button.trBtnClass:active,a.trBtnClass:active,
button.defaultBtnClass:active,
a.defaultBtnClass:active{
    background-color: rgb(var(--color-brownNA));
    border-color: rgb(var(--color-brownNA));
}
button.trBtnClass,a.trBtnClass,label.trBtnClass {
    background-color: rgb(var(--color-whiteG));
    color: rgb(var(--color-brownN));
    border-width: 1.5px;
    font-weight: 500;
}
button.trBtnClass:active,a.trBtnClass:active,
label.trBtnClass:hover,label.trBtnClass:active,
button.trBtnClass:hover,a.trBtnClass:hover{
    color: rgb(var(--color-whiteG));
}
/* default Titles */
.mainTitle > h3{
    font: 600 26px/normal var(--font-one);
    margin-bottom: 0.5rem;
    color: rgb(var(--color-grayN));
}
.mainTitle > p{
    font: 400 16px/normal var(--font-one);
    max-width: 800px;
    color: rgb(var(--color-grayDH));
}
/* default Titles End */
/* Header  */
.header-container{
    display: flex;
    min-height: 90px;
    align-items: center;
    justify-content: space-between
}
/* Header End */
/* Hero Banner */
.herobanner .centerContent{
    max-width: 500px;
    margin: auto;
}
.herobanner h3{
    font: 600 36px/normal var(--font-one);
    margin-bottom: 1rem;
}
/* Hero Banner End */
/* Video section */
.video-section {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.video-thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    object-position: center;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(var(--color-blackG) / 70%);
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(var(--color-blackG) / 20%);
}
.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-blackG) / 80%);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.video-popup video {
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
/* Video section End */
/* Service Card */
.serviceCard {
    border-radius: 10px;
    box-shadow: var(--box-shadow) rgb(var(--color-blackG) / 20%);
}
.serviceImage > img {border-radius: 10px;}
.serviceCard p{
    font: 400 14px/20px var(--font-one);
    color: rgb(var(--color-whiteDH));
    margin: 0 0 5px;
    border-radius: 10px;
}
.serviceCard .price_track {
    font: 500 14px/22px var(--font-one);
    color: rgb(var(--color-grayD));
    padding: 5px 0 10px;
}
.serviceCard h4{
    font: 500 24px/32px var(--font-one);
    color: rgb(var(--color-blackG));
}
.Personalize_form{
    background-color: rgb(var(--color-grayL));
    padding: 2rem;
}
.fileupload {
    min-height: 150px;
    border: 1px solid rgb(var(--color-blackG)/20%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Personalize_form .form-group textarea{
    border: 1px solid rgb(var(--color-blackG)/20%);
}
.form-group label[for="imageUpload"]{
    line-height: 40px;
    margin: 1rem auto;;
}
.Personalize_form .form-group label[for="imageUpload"]{
    background-color: rgb(var(--color-grayL));
}
.Personalize_form .form-group label[for="imageUpload"]:hover{
    background: rgb(var(--color-brownN));
}
.Personalize_form .form-group textarea,
.Personalize_form .form-group select,
.Personalize_form .form-group input{
    background: rgb(var(--color-grayL));
}
/* Service Card End */
/* Join Now */
section.joinForm.pt-5.pb-5 {
    background: rgb(var(--color-grayLH));
}
.accordian-container,
form.queryForm {
    max-width: 670px;
    margin: auto;
}
.form-group label{
    display: block;
    color: rgb(var(--color-grayN));
    font: 500 13px/normal var(--font-one);
    margin-bottom: 0.5rem;
}
.form-title {
    font: 600 20px/28px var(--font-one);
    color: rgb(var(--color-grayD));
}
input:-webkit-autofill,
input:-webkit-autofill:focus{background: transparent;
    transition: background-color 0s 600000s, color 0s 600000s !important;
}
.form-group input {
    border-radius: 4px;
    font: 500 14px/40px var(--font-one);
    color: rgb(var(--color-brownDA));
    padding: 0 15px;
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(var(--color-grayLA));
}
.form-group input::placeholder {color: rgb(var(--color-grayLA));}
/* Join Now End */
/* How to work Section  */
.workSection{background: rgb(var(--color-brownL));}
.workFigure-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.workFigure-content > ul{
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
.workFigure-content > ul li{
    margin-bottom: 2rem;
    font: 400 16px/24px var(--font-one);
    color: rgb(var(--color-whiteD));
}
.workFigure-content li h4 > span,
.workFigure-content li h4 {
    font: 600 18px/26px var(--font-one);
    color: rgb(var(--color-grayD));
}
.faqs-item h2 > button,
.workFigure-content li h4 > span {
    color: rgb(var(--color-grayDA));
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: rgb(var(--color-brownLA));
    text-align: center;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* How to work Section End */
/* Faqs Section  */
.faqs-item h2 {
    font: 500 16px/24px var(--font-one);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
    margin-bottom: 0;
}
.faqs-item h2 > button {
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
}
.faqs-item .faqs-collapse {
    font: 400 16px/24px var(--font-one);
    color: rgb(var(--color-whiteDA));
    padding: 0 1rem 0 10px;
}
/* Faqs Section End */
/* Blog Page Start */
.blogList-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 2rem;
    align-items: center;
}
/* .soacial-media{mar} */
.soacial-media li {
    list-style: none;
}
.soacial-media li > a {
    height: 35px;
    width: 35px;
    border: 1px solid rgb(var(--color-grayN));
    text-align: center;
    line-height: 35px;
    color: rgb(var(--color-grayN));
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
}
/* ##blog title */
.blog-search{position: relative;}
.blog-search > span {
    position: absolute;
    top: 0;
    line-height: 35px;
    right: 0px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    color: rgb(var(--color-grayLA));
}
.blogTopNavigation h3 {
    font: 700 20px/24px var(--font-one);
    color: rgb(var(--color-brownD));
    margin-bottom: 0;
}
.blog_contents h3 > a, .blog_contents h3 {
    font: 500 18px/26px var(--font-one);
    color: rgb(var(--color-blackG));
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-search input#search {
    color: rgb(var(--color-grayLA));
    font: 400 14px/35px var(--font-one);
    min-width: 300px;
    padding: 0 35px 0 10px;
}
.default-btn {padding: 4px 8px;cursor: pointer;}
.default-btn:hover, .default-btn.active {
    border-bottom: 1px solid rgb(var(--color-brownNH));
    color: rgb(var(--color-brownNH));
}
.blogCard_Image {position: relative;}
.blog_contents p,
.blog_contents span.blog_date{
    font: 400 16px/24px var(--font-one);
    color: rgb(var(--color-whiteDH));
    display: block;
    margin-bottom: 5px;
}
.blogCard_Image span.like_Blog {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: rgb(var(--color-whiteG));
}
.blog_contents, .blog_action > span{cursor: pointer;transition: var(--transition);}
.blog_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog_action > a {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(var(--color-grayN));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog_contents h3 > a,
.moreText.active {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
span.like_Blog.active svg path {
    fill: red !important;
}
.blogCard_Image > img {
    height: clamp(200px, 100vh, 250px);
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.blogCard:hover {
    box-shadow: 0px 2px 15px -5px rgb(var(--color-blackG) / 50% );
    transition: var(--transition);
}
.blogCard {
    border: 1px solid rgb(var(--color-blackG) / 5%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.recentPost{
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.recentPost .blog_contents .blog_date,
.recentPost .blog_contents h3 > a{
    color: rgb(var(--color-whiteG));
}
.recentPost .blog_contents h3 > a {
    color: rgb(var(--color-whiteG));
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recentPost:before, .recentPost:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: var(--data-image-url);
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}
.recentPost:before{
    background: rgb(var(--color-blackG) / 30%);
    z-index: -1;
}
.blogPlay {
    position: fixed;
    top: 50%;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background: rgb(var(--color-whiteG));
    color: rgb(var(--color-brownNA));
    cursor: pointer;
    border: 1px solid rgb(var(--color-blackG) / 10%);
}
/* Blog Page End */
/* Footer Section  */
.footer-container{
    background: #120803;
}
h3.footer_title {
    font: 600 18px/normal var(--font-one);
    color: rgb(var(--color-whiteG));
    margin-bottom: 1rem;
}
.footer_item p, .footer_item p > a,.footer_item a {
    color: rgb(var(--color-whiteNH));
    font: 400 14px/22px var(--font-one);
    max-width: 400px;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer_social li, .footer_social {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    display: inline-block;
}
.footer_social {max-width: 110px;}
.footer_social li > a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--color-grayL));
    margin: .5rem 5px;
    color: rgb(var(--color-brownN));
    font: 700 20px/40px fontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer Section End */
/* Comming Soon  */
.formContainer {
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
    /* height: calc(350px + 140px); */
}
.loginPages {
    position: relative;
    /* background: linear-gradient(0deg, rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.7)), url('assets/media/background-landing.png'); */
    background: linear-gradient(45deg, rgb(var(--color-brown)/ 0.9),rgb(var(--color-gray) / 0.9)), url('../media/background-landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* height: 100vh; */
    /* overflow: auto; */
    min-height: 100vh;
    padding-top: 5rem !important;
}
.loginPagesTitle h3 {
    text-align: center;
    font: 700 32px/40px var(--font-one);
    color: white;
    margin-bottom: 0.5rem;
}
.loginPagesTitle p {
    text-align: center;
    margin: auto;
    max-width: 400px;
    font: 400 13px/18px var(--font-one);
    color: rgb(255 255 255 / 0.8);
    margin-bottom: 1.5rem;
}
.showPassword {position: relative;}
#contactForm.contactForm .form-group {margin-bottom: 1rem;}
#contactForm.contactForm .form-group input::placeholder {color: rgb(211 211 211 / 0.5);}
#contactForm.contactForm .form-group input:hover {border-color: rgb(var(--color-whiteD));}
#contactForm.contactForm .form-group input {
    outline: none;
    font: 400 14px/40px var(--font-one);
    border-radius: 4px;
    padding: 0 15px;
    background-color: transparent;
    color: rgb(255 255 255 / 0.8);
    width: 100%;
    border: 1px solid rgb(211 211 211 / 0.5);
    max-width: 500px;
    box-sizing: border-box;
}
#contactForm.contactForm .form-group label {
    display: block;
    font: 400 13px/normal var(--font-one);
    color: rgb(255 255 255 / 0.8);
    margin-bottom: 8px;
    position: relative;
}
#contactForm.contactForm .form-group label::after {
    content: '\f621';
    color: maroon;
    margin: 0 5px;
    font-size: 8px;
    line-height: 0;
    font-family: 'FontAwesome';
    display: inline;
    top: -8px;
    position: relative;
}
form#contactForm.contactForm {
    max-width: 500px;
    margin: auto;
}
#contactForm.contactForm .form-group button {
    width: 100%;
    border: 1px solid #9F4D0F;
    color: #9F4D0F;
    background-color: white;
    border-radius: 4px;
    box-shadow: none !important;
    outline: none;
    font: 500 14px/40px var(--font-one);
    display: block;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-top: 2rem;
}
#contactForm.contactForm .form-group button:hover {
    color: white;
    background-color: #9F4D0F;
}
#responseMessage {
    max-width: 500px;
    margin: 2rem auto 1.5rem;
    background-color: darkslategrey;
    box-sizing: border-box;
    color: white !important;
    font: 400 12px/normal var(--font-one);
    text-align: center;
    border-radius: 4px;
    letter-spacing: 1px;
}
.showPassword #showPass {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: rgb(var(--color-whiteD));
}
/* Comming Soon End */
/* New login */
.extraLink, .extraLink > a, .extraLink > button {
    margin: 1rem auto 1.5rem;
    font: 500 16px/24px var(--font-one);
    color: rgb(var(--color-whiteNH)) !important;
}
.otherlink > span:before, .otherlink > span:after {
    height: 1px;
    width: calc(100% / 2 - 30px);
    background: rgb(var(--color-whiteNH));
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
}
.otherlink > span:after {left: unset; right: 0}
.otherlink > span {
    color: rgb(var(--color-whiteNH));
    text-align: center;
    display: block;
    position: relative;
    margin: 1rem auto;
}
.loginOption > label{
    color: rgb(var(--color-whiteNH));
}
.loginOption > ul{
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
.loginOption li {display: inline-block;}
.loginOption li a{
    color: rgb(var(--color-whiteNH));
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(var(--color-whiteNH));
    border-radius: 4px;
    margin: 8px 4px;
}
/* New login End */
/* About Page */
.meetBlock,
.aboutBox {display: flex;align-items: center;width: 100%;gap: 10px;margin: 1rem 0 3rem;flex-wrap: wrap;justify-content: center;}
.aboutBox .aboutBox-item {flex: 0 0 calc(100% / 4 - 8px);}
.aboutBox .aboutBox-item > img {height: 250px;object-fit: cover;width: 100%;border-radius: 10px;}
.aboutBox .aboutBox-item:nth-child(3) > img, .aboutBox .aboutBox-item:nth-child(2) > img {height: 200px;}
/* meetBlock */
.meetBlock .meetBlock-item {flex: 0 0 calc(100% / 4 - 8px);margin: 0rem 0 1rem;text-align: center;}
.meetFigure >img{width: 200px;height: 200px;object-fit: cover;border-radius: 50%;margin: 0 auto;}
.meetFigure > h4{font: 700 20px/28px var(--font-one);color: rgb(var(--color-grayN));margin: 0.5rem auto 5px;}
.meetFigure > span{font: 500 16px/24px var(--font-one);color: rgb(var(--color-whiteDA));}
/* About Page End*/

/* Checkout page  */
label[for="sideCheckbox"] {
    height: 15px;
    width: 15px;
    box-shadow: var(--box-shadow) inset rgb(var(--color-blackG) / 10%);
    border-radius: 4px;
    border: 1px solid rgb(var(--color-blackG) / 20%);
    position: relative;
}
#sideCheckbox:checked + label[for="sideCheckbox"]:before {
    /* label[for="sideCheckbox"]::before { */
    content: '\f00c';
    font-family: 'fontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--color-whiteG));
    font-size: 8px;
    background-color: rgb(var(--color-brownNH));
}
.checkbox-group {display: flex;}
label[for="sideCheckbox"] + span {padding-left: 10px;}
.card-box {
    padding: 1rem;
    box-shadow: 0px 20px 20px -5px rgb(var(--color-blackG) / 10%);
    border: 1px solid rgb(var(--color-blackG) 10%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.price-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 400 14px/22px var(--font-one);
    margin-bottom: 5px;
    color: rgb(var(--color-whiteDH));
}
.price-list > span{color: rgb(var(--color-grayD));}
.subtotal,
.form-side-title{font: 600 16px/24px var(--font-one);color: rgb(var(--color-blackG));}
.form-side-title-small{color: rgb(var(--color-grayN));font: 500 16px/normal var(--font-one);}
/* Timeline Section  */
.active_timeline {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 0rem auto 1rem;
    position: relative;
    font: 600 14px/22px var(--font-one);
    color: rgb(var(--color-brownL));
    overflow: hidden;
    height: 50px;
}
.active_timeline .listTime:last-child::after {
    display: none;
}
.active_timeline .listTime:after {
    content: '';
    left: 100%;
    height: 1px;
    background-color: rgb(var(--color-brownLA));
    position: absolute;
    right: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
}
.active_timeline .listTime.active:after {
    background-color: rgb(var(--color-brownD));
}
.active_timeline > .listTime::before {
    content: attr(data-number);
    position: absolute;
    height: 20px;
    width: 20px;
    font: 400 14px/22px var(--font-one);
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
    color: rgb(var(--color-brownLA));
    border: 1px solid rgb(var(--color-brownLA));
    top: -25px;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
.active_timeline > .listTime.active::before {
    border-color: rgb(var(--color-brownLA));
    color: rgb(var(--color-brownD));
    background-color: rgb(var(--color-brownLA));
}
.active_timeline > .listTime {
    position: relative;
    color: rgb(var(--color-brownLA));
    width: 75px;
    text-align: center;
    backdrop-filter: brightness(100);
}
.active_timeline > .listTime.active {
    color: rgb(var(--color-brownD));
}
/* Successful page  */
.payment-successful > img {
    max-width: 300px;
    margin: 3rem auto;
    text-align: center;
    display: block;
}
.payment-successful {position: relative;}
.successfulContent {
    position: absolute;
    bottom: 0;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}
.successfulContent >h3 {
    font: 700 32px/40px var(--font-one);
    color: rgb(var(--color-brownD));
    margin-bottom: 1.2rem;
}
.successfulContent > p {
    font: 400 18px/26px var(--font-one);
    color: rgb(var(--color-whiteDA));
    padding-bottom: 0.5rem;
}
/* Checkout page End */


@media (max-width: 991px){
    .meetBlock .meetBlock-item{flex: 0 0 auto;}
    .main-navigation{display: none;}
    .meetFigure >img{width: 150px; height: 150px;}
    .aboutBox .aboutBox-item:nth-child(3) > img, .aboutBox .aboutBox-item:nth-child(2) > img {height: 250px !important;}
}
@media (max-width: 767px){
    .header-container{min-height: 60px;}
    .logo img{max-width: 45px;}
    button.defaultBtnClass, a.defaultBtnClass {
        padding: 0 10px;
        font-size: 13px;
    }
    .aboutBox .aboutBox-item {flex: 0 0 calc(100% / 2 - 5px);}
    .aboutBox .aboutBox-item > img{height: 200px !important;}
    .pageContainer{flex-direction: column;}
    .joinForms .mainTitle{text-align: left !important;}
    .blogList-header{flex-direction: column;gap: 20px;}
}
@media (max-width: 576px){
    .meetFigure > span{font-size: 12px;line-height: 20px;}
    .meetFigure > h4{font-size: 16px;line-height: 24px;}
    .meetFigure >img{width: 100px; height: 100px;}
    .meetBlock .meetBlock-item{ flex: 0 calc(100% / 2 - 5px); }
}
